html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}


body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    color: #373737;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    padding: 0;
    border: none;
    font-family: inherit;
    color: inherit;
    display: inline-block;
}

.container {
    width: 100%;
    max-width: 1092px;
    margin: 0 auto;
    padding: 0 15px;
}

.navigation__link {
    color: white;
    text-decoration: none;
    transition: .3s;
}

.navigation__link:hover,
.navigation__link:focus,
.navigation__link:active {
    opacity: .75;
    text-decoration: underline;
    transition: .3s;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    max-width: 580px;
    margin: 0 auto;
}

.logo {
    justify-content: center;
}


.main {
    height: 744px;
    background: url(../images/header-bg.jpg) no-repeat center;
    background-size: cover;
}









































.footer {
    width: 100%;
    background-color: #000;
    color: #FFFFFF;
    padding: 80px 0;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__list {
    display: flex ;
    justify-content: space-between ;
    padding: 25px 0;
    max-width: 580px;
}

.footer__nav-intersector {
    margin: 0 20px;
}

.footer__copy {
    width: 170px;
    height: 20px;
    font-size: 14px;
    line-height: 1.4;
    color: #818181;
}
.footer__nav-intersector {
    color: #4E4E4E ;
}