html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}


body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400;
    color: #373737;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    padding: 0;
    border: none;
    font-family: inherit;
    color: inherit;
    display: inline-block;
}

.btn {
    display: block;
    text-transform: uppercase;
    width: 100%;
    max-width: 184px;
    height: 46px;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 300;
    color: #FFFFFF;
    padding: 15px 47px;
    background-color: #00AFDB;

}

.container {
    width: 100%;
    max-width: 1092px;
    margin: 0 auto;
    padding: 0 15px;
}

.navigation__link {
    color: white;
    text-decoration: none;
    transition: .3s;
}

.navigation__link:hover,
.navigation__link:focus,
.navigation__link:active {
    opacity: .75;
    text-decoration: underline;
    transition: .3s;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    max-width: 580px;
    margin: 0 auto;
}

.logo {
    justify-content: center;
}


.main {
    height: 744px;
    background: url(../images/header-bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 223px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 16px;
}

.intro__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.4;
    color: #FFFFFF;
    letter-spacing: 4px;
    word-spacing: 4px;
    left: 10px;
    margin-bottom: 12px;
}

.intro__subtitle {
    max-width: 500px;
    font-size: 18px;
    line-height: 1.5;
    color: #FFFFFF;
    margin-bottom: 28px;
    text-align: center;
    left: 7px;
}



.intro__media {
    display: flex;
    justify-content: center;
    margin-top: 180px;
    gap: 30px;
}











































.footer {
    width: 100%;
    background-color: #000;
    color: #FFFFFF;
    padding: 80px 0;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__list {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    max-width: 580px;
}

.footer__nav-intersector {
    margin: 0 20px;
}

.footer__copy {
    width: 170px;
    height: 20px;
    font-size: 14px;
    line-height: 1.4;
    color: #818181;
}

.footer__nav-intersector {
    color: #4E4E4E;
}